h2. Common information

_Common_Annotations_:
{% for k, v in commonAnnotations.items() -%}
* *{{ k }}*: {{ v }}
{% endfor %}

_Common_Labels_:
  {% for k, v in commonLabels.items() -%}
* {{ k }}: "{{ v }}"
  {% endfor %}

{% set firing_alerts = alerts | selectattr('status', "equalto", 'firing') | list %}
h2. Active alerts (total : {{ firing_alerts|length }})
{% for a in firing_alerts -%}
• {{ a.annotations.description }} ([documentation|{{ a.annotations.documentation }}], [source|{{ a.generatorURL }}]){% for k, v in a.labels.items() if k not in commonLabels -%}, {{ k }}:{{ v }}{% endfor %}
{% endfor %}
