{{ commonLabels.alertname }}:{% if commonAnnotations.summary %} {{ commonAnnotations.summary }}{% else %}{% for k, v in groupLabels.items() if k not in ('alertname', 'severity', 'project', 'issue_type') %} {{v}}{% endfor %}{% endif %}
